.bg-blue{
    background: #150aaa;
    color: white;
}
nav a{
    color: white !important;
}

.navbar-collapse{
    flex-grow: 0;
}
.headline h2{
    padding: 20px 0;
    font-size: 50px;
}

hr{border: 1px solid #cccccc;}

.row img{
    border: 1px solid #000000;
    border-radius: 50px;
}