<!DOCTYPE html>

{% extends 'global/base.html' %}
{% load static %}
<html lang="en">
<title> Rehat Breakfast </title>
{% block meta %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'rehat.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <style>
        body{
            background-color: white;
        }
    </style>
{% endblock meta %}

{% block content %}
<body>
    <section class="breakfast">

        <div>
            <img class = "br-rec1" src="{% static 'pics/rec1br.png' %}">
            <img class = "br1" src="{% static 'pics/1br.png' %}">
            <img class = "br2" src="{% static 'pics/2br.png' %}">
            <img class = "br3" src="{% static 'pics/3br.png' %}">
            <img class = "br-footer" src="{% static 'pics/footerbr.png' %}">
        </div>
    </section>

</body>
{% endblock content %}