<!DOCTYPE html>

{% extends 'global/base.html' %}
{% load static %}

{% block meta %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<style>
    body{
        background-color: #374785 ;
    }
    .button {
        background-color: #A8D0E6;;
        border-radius: 15px;
        padding: 10px 24px;
        text-align: center;
        color: #F76C6C;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        font-family: "Poppins";
        font-weight: bold;
    }

    .button:hover {
        background-color: white;
        color: #374785;
    }

    .font1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        color: #A8D0E6;
    }

    .font2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        display: flex;
        color: #F76C6C;
    }
    
</style>
{% endblock meta %}

{% block content %}

<br>
<br>
<br>

<h1 align="center" class="font1"> Tanggapan Resep Rehat: </h1>
<br><br>


{% for x in listTanggapan %}
   <p align = "center" class = "font2"> {{x.list_tanggapan}} </p>
{% endfor %}



<br>
<div align = "center">
<a href="{% url 'tijani:rehat' %}"><button align="center" class="button">Kembali</button> </a>
</div>
{% endblock content %}