<!DOCTYPE html>

{% extends 'global/base.html' %}
{% load static %}

{% block meta %}
<html lang="en">
<title> Rehat Home </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'rehat.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <style>
        body{
        background-color: #374785 ;
        }
        
        .button {
            background-color: #A8D0E6;;
            border-radius: 15px;
            padding: 10px 24px;
            text-align: center;
            color: #F76C6C;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            font-family: "Poppins";
            font-weight: bold;
        }
    
        .button:hover {
            background-color: white;
            color: #374785;
        }
    
        .font1 {
            position: absolute;
            width: 246px;
            height: 58px;
            left: 517px;
            top: 1396px;
    
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            display: flex;
            align-items: center;
            text-align: center;
    
            color: #A8D0E6;
        }
    
        .font2 {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            display: flex;
            align-items: center;
            text-align: center;
    
            color: #F76C6C;
        }

    </style>
{% endblock meta %}

{% block content %}

<body>
    <section class="home">
        <div>
            <img class = "home-title" src="{% static 'pics/Titlerec.png' %}">
            <img class = "home-rec1" src="{% static 'pics/Recpink.png' %}">
        </div>
        <div> 
            <a class = "home-br" href="{% url 'tijani:menuPagi' %}">
                <img src="{% static 'pics/Breakfastcir1.png' %}" style="position: absolute;
                width: 200px;
                height: 200px;
                left: 231px;
                top: 600px;">
                </a>
            <a class = "home-lch" href="{% url 'tijani:menuSiang' %}">
                <img src="{% static 'pics/Lunchcir2.png' %}" style="position: absolute;
                width: 200px;
                height: 200px;
                left: 543px;
                top: 600px;">
                </a>
            <a class = "home-dnr" href="{% url 'tijani:menuMalam' %}">
                <img src="{% static 'pics/Dinnercir3.png' %}" style="position: absolute;
                width: 200px;
                height: 200px;
                left: 855px;
                top: 600px;">
                </a>
            <a class = "home-sn" href="{% url 'tijani:makananRingan' %}">
                <img src="{% static 'pics/Snackscir4.png' %}" style="position: absolute;
                width: 200px;
                height: 200px;
                left: 368px;
                top: 833px;">
                </a>
            <a class = "home-bev" href="{% url 'tijani:minuman' %}">
                <img src="{% static 'pics/Beveragescir5.png' %}" style="position: absolute;
                width: 200px;
                height: 200px;
                left: 708px;
                top: 833px;">
                </a>
        </div>
        <p1>Disaat masa pandemi sekarang, penting sekali
             untuk tetap menjaga pola makan dengan baik. 
             Tentunya pola makan tersebut didukung dengan 
             makanan yang bergizi dan sehat. </p1>
        <p2>Yuk Ikutin Resepnya!</p2>
        <p3>BAGAIMANA RESEPNYA?</p3>
    </section>

    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br>


    <form class=formpost action='' method="POST" margin="20px">
        {% csrf_token %}
        {{ Form }}
        <br>
        <div align="center" >
            <input type="submit" class="button" value="Submit">
        </div>
    </form>

    <br>
    <br>

    <div align="center">
    <a href="{% url 'tijani:listTanggapan' %}"><button class="button">Cek Tanggapan</button> </a>
        </div>
</body>
{% endblock content %}