<!DOCTYPE html>

{% extends 'global/base.html' %}
{% load static %}
<html lang="en">
<title> Rehat Lunch</title>

{% block meta %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'rehat.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
{% endblock meta %}

{% block content %}

<body>
    <section class="lunch">
        <div>
            <img class = "lch-rec1" src="{% static 'pics/rec1lunch.png' %}">
            <img class = "lch1" src="{% static 'pics/1lunch.png' %}">
            <img class = "lch2" src="{% static 'pics/2lunch.png' %}">
            <img class = "lch-footer" src="{% static 'pics/footerlunch.png' %}">
        </div>
    </section>

</body>
{% endblock content %}