{% extends 'global/base.html' %}
{% load static %}

{% block meta %}
    <meta charset="UTF-8">
    <title>FightCorona</title>
    <link rel="stylesheet" href="static/francis/css/main.css">
{% endblock meta %}

{% block content %}
<br>
<br>
<br>
    <div class="grid-container">
        <div class="element">
            <div class="highlight_box"><p>Error</p></div>
            <div class="header_box"><h1>404</h1></div>
            <div class="highlight_box"><p>Page not found</p></div>
        </div>
    </div>
    <br>
    <div class="grid-container" style="background-color: #f76c6c" id="edukasi_menu">
        <div class="element">
            <div class="content_box">
                <h2>Return Home</h2>
                <a href="/"><button>Home</button></a>
            </div>
        </div>
    </div>


{% endblock content %}