{% extends 'global/base.html' %}
{% load static %}

{% block meta %}
    <meta charset="UTF-8">
    <title>FightCorona</title>
    <link rel="stylesheet" href="static/francis/css/main.css">
{% endblock meta %}

{% block content %}
    <br>
    <br>
    <br>
    </div>
    <div class="grid-container">
        <div class="element">
            <div class="header_box">
                <h1>Tentang</h1>
            </div>
            <div class="content_box" style="background-color: white">
                Sebuah proyek Tugas Kelompok 1, Perancangan dan Pemrograman Web <br>
                FASILKOM UI, 2020<br>
                <a href="http://cs.ui.ac.id">cs.ui.ac.id</a>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="element">
            <div class="header_box">
                <h1>Anggota Kelompok</h1>
            </div>
            <div class="content_box" style="background-color: #f8e9a1">
                <table style="margin-left: auto; margin-right: auto">
                    <tr><td>Alfath Fiqhya</td></tr>
                    <tr><td>Farah Husna</td></tr>
                    <tr><td>Francis Wibisono</td></tr>
                    <tr><td>Jati Langgeng</td></tr>
                    <tr><td>Tijani Putri</td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="element">
            <div class="header_box">
                <h1>Feature Set</h1>
            </div>
            <div class="content_box" style="background-color: #f8e9a1">
                <p>Berikut merupakan daftar fitur, story, serta kontributornya:</p>
                <br>
                <br>
                <h2>Alfath Fiqhya</h2>
                <p>Fitur daftar olahraga yang bisa dilakukan dalam rumah</p>
                <h2>Farah Husna</h2>
                <p>Membuat aplikasi tentang edukasi Corona yang bertujuan untuk memberikan informasi kepada user tentang hal-hal penting yang berhubungan dengan corona.
Fitur yang dibuat adalah form yang dapat menampilkan list kegiatan yang dikerjakan selama pandemi.</p>
                <h2>Francis Wibisono</h2>
                <p>Hiburan merupakan hal yang penting didapat selama pandemi ini. Oleh karena itu, fitur yang saya buat adalah sebuah image board.
Selain itu, saya juga membuat landing page project ini.</p>
                <h2>Jati Langgeng</h2>
                <p>Fitur "Maskermu" yang berguna untuk mengedukasi masyarakat tentang beberapa jenis masker dan kegunaannya, disertai form yang dapat diisi mengenai pengalaman pembaca tentang menggunakan masker.</p>
                <h2>Tjiani Putri</h2>
                <p>Fitur "rehat" atau resep sehat yang menampilkan beberapa resep makanan sehat beserta form feedback.</p>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="element">
            <div class="header_box">
                <h1>Repositori</h1>
            </div>
            <div class="content_box" style="background-color: #f8e9a1">
                <table style="margin-left: auto; margin-right: auto">
                    <tr><td>Gitlab</td><td><a href="https://gitlab.com/fwibisono87/fight-corona/">https://gitlab.com/fwibisono87/fight-corona/</a></td></tr>
                    <tr><td>Heroku</td><td><a href="http://fight-corona.herokuapp.com/">http://fight-corona.herokuapp.com/</a></td></tr>
                    <tr><td>Heroku Mirror</td><td><a href="http://tk1.franciswibisono.com/">http://tk1.franciswibisono.com/</a></td></tr>
                </table>
            </div>
        </div>
    </div>


{% endblock %}