{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FightCorona - Under Construction</title>
    <link rel="stylesheet" href="static/francis/css/main.css">
</head>
<body>
    <div class="grid-container">
        <div class="element">
            <div class="header_box"><h1>FightCorona</h1></div>
            <div class="highlight_box"><p>A PPW TK1 Project</p></div>
            <div class="content_box">
                <img src="static/francis/img/under_construction.png" class="under_construction">
                <p>Right now, we are still under construction <br> Please check back later!</p>
                <p>Francis, Tijani, Farah, Alfath, Jati <br> CSUI 2019</p>
            </div>
            <div class="header_box"><h1>Repositories</h1></div>
            <div class="content_box">
                <p>Kindly check our repository at:</p>
                <p>
                    <a href="https://gitlab.com/fwibisono87/fight-corona"><button>GitLab</button></a>
                    <a href="https://github.com/fwibisono87/fight-corona"><button>GitHub</button></a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>