{% extends 'global/base.html' %}
{% load static %}

{% block meta %}
    <meta charset="UTF-8">
    <title>FightCorona - Under Construction</title>
    <link rel="stylesheet" href="static/francis/css/main.css">
{% endblock meta %}

{% block content %}
<br>
<br>
<br>
    <div class="grid-container">
        <div class="element">
            <div class="highlight_box"><p>Selamat Datang Di</p></div>
            <div class="header_box"><h1>FightCorona</h1></div>
            <div class="highlight_box"><p>A PPW TK1 Project</p></div>
        </div>
    </div>
    <br>
    <div class="grid-container" style="background-color: #f76c6c" id="edukasi_menu">
        <div class="element">
            <div class="content_box">
                <img src="static/francis/img/education.png" class="menu_image">
                <p style="font-size: 0.75em">Designed by pch.vector / Freepik</p>
            </div>
        </div>
        <div class="element">
            <div class="content_box">
                <p>Hal penting dan kegiatan yang bisa dilakukan saat pandemi</p>
                <a href="/edukasi"><button>Edukasi</button></a>
            </div>
        </div>
    </div>

    <div class="grid-container" style="background-color: #f8e9a1" id="sport_menu">
        <div class="element">
            <div class="content_box">
                <p>Olahraga yang bisa dilakukan selama pandemi</p>
                <a href="/olahraga"><button>Olahraga</button></a>
            </div>
        </div>
        <div class="element">
            <div class="content_box">
                <img src="static/francis/img/sport.png" class="menu_image">
                <p style="font-size: 0.75em">Designed by Freepik</p>
            </div>
        </div>
    </div>

    <div class="grid-container" style="background-color: #f76c6c" id="rehat_menu">
        <div class="element">
            <div class="content_box">
                <img src="static/francis/img/resep.png" class="menu_image">
                <p style="font-size: 0.75em">Designed by pikisuperstar / Freepik</p>
            </div>
        </div>
        <div class="element">
            <div class="content_box">
                <p>Resep yang enak dan sehat!</p>
                <a href="/rehat"><button>ReHat</button></a>
            </div>
        </div>
    </div>

    <div class="grid-container" style="background-color: #f8e9a1" id="maskermu_menu">
        <div class="element">
            <div class="content_box">
                <p>Edukasi mengenai masker, jenis-jenis, dan kegunaannya</p>
                <a href="/maskermu"><button>Maskermu</button></a>
            </div>
        </div>
        <div class="element">
            <div class="content_box">
                <img src="static/francis/img/masker.png" class="menu_image">
                <p style="font-size: 0.75em">Designed by Freepik</p>
            </div>
        </div>
    </div>
    <div class="grid-container" style="background-color: #f76c6c" id="forum_menu">
        <div class="element">
            <div class="content_box">
                <img src="static/francis/img/forum.png" class="menu_image">
                <p style="font-size: 0.75em">Designed by rawpixel.com / Freepik</p>
            </div>
        </div>
        <div class="element">
            <div class="content_box">
                <p>Forum untuk bersosialisasi ^^</p>
                <a href="/edukasi"><button>Forum</button></a>
            </div>
        </div>
    </div>

{% endblock content %}