/* Home */
.home {
    background: #374785;
}

.home p1 {
    position: absolute;
    width: 510px;
    height: 151px;
    left: 385px;
    top: 325px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.home p2 {
    position: absolute;
    width: 332px;
    height: 57px;
    left: 510px;
    top: 510px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F76C6C;
}

.home p3 {
    position: absolute;
    width: 350px;
    height: 74px;
    left: 465px;
    top: 1149px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A8D0E6;
}

.home-title {
    position: absolute;
    width: 807px;
    height: 169.04px;
    left: 228px;
    top: 110px;
}

.home-rec1 {
    position: absolute;
    width: 100%;
    height: 166px;
    left: 0px;
    top: 317px;
    
    background: rgba(247, 108, 108, 0.83);
}

.breakfast {
    padding-top: 100px;
    background: #FFFFFF;    
}

.breakfast h1 {
    position: absolute;
    width: 260px;
    height: 90px;
    left: 510px;
    top: 100px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 67px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F76C6C;    
}

.br-rec1 {
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
    background: rgba(168, 208, 230, 0.8);
}

.br1 {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 120px;
}

.br2 {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 520px;

}

.br3 {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 920px;

}

.br-footer {
    position: absolute;
    width: 100%;
    height: 81px;
    left: 0px;
    top: 1319px;
}

.lunch {
    background: #FFFFFF;    
}

.lunch h1 {
    position: absolute;
    width: 157px;
    height: 90px;
    left: 561px;
    top: 16px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 67px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F76C6C;    
}

.lch-rec1 {
    position: absolute;
    width: 100%;
    height: 123px;
    left: 0px;
    top: 0px;
    
    background: rgba(168, 208, 230, 0.8);
}

.lch1 {
    position: absolute;
    width: 100%;
    height: 396px;
    left: 0px;
    top: 117px;  
}

.lch2 {
    position: absolute;
    width: 1280px;
    height: 404px;
    left: 0px;
    top: 509px;  
}

.lch-footer {
    position: absolute;
    width: 1280px;
    height: 87px;
    left: 0px;
    top: 913px;    
}

.dinner {
    background: #FFFFFF;
}

.dinner h1 {
    position: absolute;
    width: 177px;
    height: 90px;
    left: 551px;
    top: 16px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 67px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F76C6C;    
}

.dn-rec1 {
    position: absolute;
    width: 100%;
    height: 123px;
    left: 0px;
    top: 0px;
    
    background: rgba(168, 208, 230, 0.8);
}

.dn1 {
    position: absolute;
    width: 100%;
    height: 409px;
    left: 0px;
    top: 118px;    
}

.dn2 {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 523px;    
}

.dn-footer {
    position: absolute;
    width: 100%;
    height: 77px;
    left: 0px;
    top: 923px;    
}

.snacks {
    background: #FFFFFF;
}

.snacks h1 {
    position: absolute;
    width: 202px;
    height: 90px;
    left: 539px;
    top: 17px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 67px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F76C6C;    
}

.sn-rec1 {
    position: absolute;
    width: 100%;
    height: 123px;
    left: 0px;
    top: 0px;
    
    background: rgba(168, 208, 230, 0.8);
}

.sn1 {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 123px;    
}

.sn2 {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 523px;
}

.sn-footer {
    position: absolute;
    width: 100%;
    height: 77px;
    left: 0px;
    top: 923px;    
}

.beverages {
    background: #FFFFFF;
}

.beverages h1 {
    position: absolute;
    width: 276px;
    height: 90px;
    left: 502px;
    top: 17px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 67px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #F76C6C;
}

.bev-rec1 {
    position: absolute;
    width: 100%;
    height: 123px;
    left: 0px;
    top: 0px;
    
    background: rgba(168, 208, 230, 0.8);
}

.bev1 {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 174px;    
}

.bev-footer {
    position: absolute;
    width: 100%;
    height: 77px;
    left: 0px;
    top: 623px;    
}