{% extends 'global/base.html' %}
{% load static %}

{% block meta %}
    <link rel="stylesheet" type="text/css" href="../../static/jati/css/style.css">
    <meta charset="utf-8">
    <title>Pengalamanmu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style type="text/css">
    	body {
	    	background-color: #A8D0E6;
	    	font-family: Poppins;
	    	width: 80%;
			margin-left: auto;
		    margin-right: auto;
	    }

	    #btn-kembali {
	    	background: #F76C6C;
	    	color: white;
	    	font-family: Roboto;
	    	text-decoration: none;
	    	border-radius: 20px;
	    	padding: 0.8vw;
	    }

    </style>
{% endblock meta %}

{% block content %}

<br>
<br>
<br>
<p style="font-size: 24px;">Pengalamanmu menggunakan masker:</p>
{% for x in listpengalaman %}
<p style="
	border: solid 2px #F76C6C; 
	padding: 1vw;
	border-radius: 25px;
	font-style: italic;
	background: white;
	color: rgb(0,0,0,0.8)">"{{x.cerita_pengalaman}}"</p>
{% endfor %}

<div align="center" >
    <a href="{% url 'jati:maskermu' %}" ><button align="center" class="button" id="btn-kembali">Kembali</button> </a>
</div>

{% endblock content %}