{% extends 'global/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../../static/jati/css/style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta id="Page Maskermu">
	<title>Maskermu</title>
</head>
<body>
	<header>
		
		
		
	</header>
	<main>
		{% block content %}
		<div>
			<!-- section Judul -->
			<div>
				<h2>
					Yuk, Kenali masker yang sebaiknya kita gunakan, rekomendasi dari WHO lho!
				</h2>
			</div>
			<!-- endsection Judul -->

			<!-- section Tanggal_Artikel -->
			<div>
				<article>
					Hari, 12 Desember 2222 | 24:00 WIB Penulis : Jati
				</article>
				<hr>
			</div>
			<!-- endsection Tanggal_Artikel -->

			<!-- section main_Artikel -->
			<div>
				<article>
					Nah, di sini, kita mau ngomongin tentang masker nih, yang di Indonesia, wajib dipakai biar ga ketularan. Tapi kalian tau ga, kalau masker itu banyak jenisnya,dan penggunaannya pun berbeda tiap jenisnya. 

					Buat kalian yang belum atau kurang paham sama jenis-jenis masker, yuk cek di bawah ini.
				</article>
			</div>
			<!-- endsection main_Artikel -->

			<!-- section Masker_Kain -->
			<div class="box-masker">
				<div>
					<img src="../../static/jati/img/mKain.png" class="mKain">
				</div>
				<div>
					<h4>
						Masker Kain
					</h4>
				</div>
				<div>
					<article>
						Masker kain yang dibuat perlu memiliki 3 (tiga) lapisan yaitu lapisan non-anyaman tahan air (depan), microfibre melt-blown kain non-anyaman (tengah), dan kain biasa non-tenunan (belakang). 


						Masker kain perlu dicuci dan dapat dipakai berkali-kali. Bahan yang digunakan untuk masker kain berupa bahan kain katun, scarf, dan sebagainya.

						Masker jenis ini bisa digunakan ketika berada di tempat umum dan fasilitas lainnya dengan tetap menjaga jarak aman yakni 1-2 meter.
					</article>
				</div>
			</div>
			<!-- endsection Masker_Kain -->

			<!-- section Masker_2PLY -->
			<div class="box-masker">
				<div>
					<img src="../../static/jati/img/m2PLY.png" class="m2PLY">
				</div>
				<div>
					<h4>
						Masker Bedah 2 Ply
					</h4>
				</div>
				<div>
					<article>

					</article>
				</div>
			</div>
			<!-- endsection Masker_2PLY -->

			<!-- section Masker_3PLY -->
			<div class="box-masker">
				<div>
					<img src="../../static/jati/img/m3PLY.png" class="m3PLY">
				</div>
				<div>
					<h4>
						Masker Bedah 3 Ply
					</h4>
				</div>
				<div>
					<article>

					</article>
				</div>
			</div>
			<!-- endsection Masker_3PLY -->

			<!-- section Masker_N95 -->
			<div class="box-masker">
				<div>
					<img src="../../static/jati/img/mN95.jpg" class="mN95">
				</div>
				<div>
					<h4>
						Masker N95
					</h4>
				</div>
				<div>
					<article>

					</article>
				</div>
			</div>
			<!-- endsection Masker_N95 -->

			<!-- section Form -->
			<div>
				<div>
					<p>
						Menurut kamu, mana masker yang paling nyaman?
					</p>
				</div>
				<div>
					<p>
						Ceritakan Pengalamanmu!
					</p>
				</div>
			</div>

				<form action='' method="POST" margin="20px">
					{% csrf_token %}
					{{ Form }}
					<div align="center">
						<input type="submit" class="button" value="Submit">
					</div>
				</form>
			<!-- endsection Form -->
		</div>
		{% endblock content %}
	</main>
	<footer>
		<!-- no entry -->
	</footer>
</body>
</html>