{% extends 'global/base.html' %}
{% load static %}

{% block meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
    <style>
        body{background: #A8D0E6;}
        .headline{margin-top: 60px;}
        .bg-blue{
        background: #150aaa;
        color: white;
        }
        nav a{
            color: black !important;
        }

        .navbar-collapse{
            flex-grow: 0;
        }

        .headline h2{
            padding: 20px 0;
            font-size: 50px;
        }
        .list{ font-size: 25px; font-weight: bold; color: green;}
        hr{border: 1px solid #cccccc;}

        .row img{
            border: 1px solid #000000;
            border-radius: 50px;
        }


    </style>
    <title>Fight Corona</title>
  
{% endblock meta %}

{% block content %}

<br>
      <div class="container">
        <div class="headline">
            <h2 class="text-center">List Olahraga</h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 mt-5">
                {% for lists in list %}
                <p class="text-center list">{{lists.nama_olahraga}}</p>
                {% endfor %}
            </div>    

            <div class="col-md-12 mt-3">
                <div align="center">
                    <a href="{% url 'olahraga' %}"class="btn btn-success">Kembali</a>
                </div>
            
        </div>

        </div>






      </div>






    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  {% endblock content %}