{% extends 'global/base.html' %}
{% load static %}

{% block meta %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'alfath/css/custom.css' %}">
    <style>
        body{background: #A8D0E6;}
        .headline{margin-top: 60px;}
        .bg-blue{
        background: #150aaa;
        color: white;
        }
        
        nav a{
            color: black !important;
        }
        /*
        .navbar-collapse{
            flex-grow: 0;
        }
        */
        .headline h2{
            padding: 20px 0;
            font-size: 50px;
        }

        hr{border: 1px solid #cccccc;}

        .row img{
            border: 1px solid #000000;
            border-radius: 50px;
        }


    </style>
    <title>Fight Corona</title>
  {% endblock meta %}
  
  {% block content %}

<br>
<br>


      <div class="container">
        <div class="headline">
            <h2 class="text-center">10 jenis Olahraga yang Dapat Dilakukan di Rumah Selama Pandemi</h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 mt-5">
            <img src="{% static 'alfath/img/1.jpg' %}" alt="" class="card-img-top">
            </div>
            <div class="col-md-6 mt-5">
                <h4>1. Jalan-jalan</h4>
                <p>Olahraga ini anda bisa melakukannya di mana anda berada terutama di dalam rumah. anda bisa melalukan di dalam kamar, ruang tamu, ruang keluar, atau pun di halam rumah anda.</p>
            </div>
            <div class="col-md-6 mt-5">
                <h4>2. Push Up</h4>
                <p>Push up adalah suatu jenis senam kekuatan yang berfungsi untuk menguatkan otot bisep maupun trisep. Posisi awal tidur tengkurap dengan tangan di sisi kanan kiri badan. Kemudian badan didorong ke atas dengan kekuatan tangan. Posisi kaki dan badan tetap lurus atau tegap. Setelah itu, badan diturunkan dengan tetap menjaga kondisi badan dan kaki tetap lurus.</p>
            </div>
            <div class="col-md-6 mt-5">
                <img src="{% static 'alfath/img/2.jpg' %}" alt="" class="card-img-top">
            </div>
            <div class="col-md-6 mt-5">
                <img src="{% static 'alfath/img/3.jpg' %}" alt="" class="card-img-top">
            </div>
            <div class="col-md-6 mt-5">
                <h4>3. Sit Up</h4>
                <p>Sit up adalah gerakan yang bertumpu pada pinggul dan pantat dengan lutut yang diangkat kearah atas dan dilakukan secara berulang-ulang. Sit up tidak mudah untuk dilakukan oleh pemula, tetapi jika kalian sudah biasa dalam melakukannya maka akan terasa nyaman dan tidak sulit pastinya. Biasanya latihan ini dilakukan oleh pria untuk membantu membentuk otot bagian perut mereka.</p>
            </div>
            <div class="col-md-6 mt-5">
                <h4>4. Squat</h4>
                <p>Gerakan squat adalah salah satu latihan yang baik untuk melatih tubuh bagian bawah dan inti otot, jika Anda melakukan latihan ini secara teratur, maka Anda dapat mengencangkan otot paha dan bokong serta meningkatkan sirkulasi pencernaan.</p>
            </div>
            <div class="col-md-6 mt-5">
                <img src="{% static 'alfath/img/4.jpg' %}" alt="" class="card-img-top">
            </div>
            <div class="col-md-6 mt-5">
                <img src="{% static 'alfath/img/5.jpg' %}" alt="" class="card-img-top">
            </div>
            <div class="col-md-6 mt-5">
                <h4>5. Jumping Jack</h4>
                <p>Jumping jack adalah olahraga yang bisa dilakukan semua orang. Gerakannya sederhana, yakni melompat sambil membuka tangan dan kaki, lalu mengatupkannya kembali.</p>
            </div>
            <div class="col-md-6 mt-5">
                <h4>6. Angkat Beban/Barbel</h4>
                <p>Angkat beban adalah jenis paling umum dari latihan kekuatan untuk membangun kekuatan fisik dan menambah ukuran otot kerangka. Latihan ini memanfaatkan kekuatan gravitasi (dalam bentuk tongkat pengangkat beban yang dibebani cakram beban dari logam) untuk menimbulkan daya tekanan yang ditimbulkan otot melalui kontraksi konsentrik maupun kontraksi eksentrik.</p>
            </div>
            <div class="col-md-6 mt-5">
                <img src="{% static 'alfath/img/6.jpg' %}" alt="" class="card-img-top">
            </div>
            <div class="col-md-6 mt-5">
                <img src="{% static 'alfath/img/7.jpg' %}" alt="" class="card-img-top">
            </div>
            <div class="col-md-6 mt-5">
                <h4>7. Leg Lift</h4>
                <p>Gerakan leg lift yang dilakukan dengan mengangkat kaki bermanfaat melatih otot perut dan kaki. Cara melakukan leg lift sangat variatif sehingga Anda bisa memilih gerakan yang tepat sesuai kondisi fisik dan intensitas latihan yang diinginkan.</p>
            </div>
            <div class="col-md-6 mt-5">
                <h4>8. Jogging</h4>
                <p>Jogging merupakan salah satu cara yang baik untuk membentuk massa otot, membakar kalori, mengurangi jaringan lemak tubuh, dan menjaga kesehatan jantung. Olahraga ini bahkan disebut lebih efektif membakar lemak perut dibanding angkat beban.</p>
            </div>
            <div class="col-md-6 mt-5">
                <img src="{% static 'alfath/img/8.jpg' %}" alt="" class="card-img-top">
            </div>
            <div class="col-md-6 mt-5">
                <img src="{% static 'alfath/img/9.jpg' %}" alt="" class="card-img-top">
            </div>
            <div class="col-md-6 mt-5">
                <h4>9. Yoga</h4>
                <p>Yoga adalah aktivitas olah tubuh dan pikiran yang fokus pada kekuatan, fleksibilitas dan pernapasan untuk meningkatkan kualitas mental dan fisik. Postur atau rangkaian gerakan dan pernapasan adalah dua komponen utama yoga.</p>
            </div>
            <div class="col-md-6 mt-5">
                <h4>10. Naik Turn tangga</h4>
                <p>Naik-turun tangga bisa menjadi latihan yang cukup efektif untuk membangun kekuatan, otot, dan meningkatkan keseimbangan kamu. Bahkan jika kamu mempunyai target untuk menurunkan berat badan, olahraga sederhana ini bisa membakar cukup banyak kalori dan juga mengencangkan otot.</p>
            </div>
            <div class="col-md-6 mt-5">
                <img src="{% static 'alfath/img/10.jpg' %}" alt="" class="card-img-top">
            </div>
        <hr>

        <div class="col-md-12 text-center">
            <h3>Olahraga apa yang kalian lakukan selama pandemi ini?</h3>
        </div>
        <div class="col-md-12 mt-3">
            <div align="center">
                <form method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="submit" class="btn btn-primary btn-block">
                    </div>
                </form>
                
            </div>
            
        </div>
        <div class="col-md-12 mt-3">
                <div align="center">
                    <a href="{% url 'list-olahraga' %}"class="btn btn-success">Lihat List Olahaga</a>
                </div>
            
        </div>
        
        








            

        </div>






      </div>






    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->

{% endblock content %}