{% extends 'global/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <title>Forum</title>
        <link rel="stylesheet" href="static/francis/css/main.css">
    {% endblock %}
</head>
<body>
    {% block content %}
        <br>
        <br>
        <br>
        <div class="grid-container">
            <div class="header_box">
                <h1>Forum</h1>
            </div>
            <br>
            <div class="content_box" style="background-color: #f76c6c">
                Loncat ke bawah untuk membuat post baru <a href="forum#add-new"><button>disini!</button></a>
            </div>
        </div>
        <br>
        {% for image in board %}
            <div class="grid-container">
                <div class="element">
                    <div class="header_box">
                        <h2>{{ image.title }}</h2>
                    </div>
                </div>
            </div>
            <div class="grid-container" style="background-color: white">
                {% if image.image %}
                    <div class="element">
                        <div class="content_box">
                            <img src="{{ image.image }}" style="width: 50%">
                        </div>
                    </div>
                {% endif %}
                <div class="element">
                    <div class="content_box">
                        <p class="caption">"{{ image.caption }}"</p>
                        <p>~{{ image.author }}</p>
                        <a href="mailto:{{ image.email }}">{{ image.email }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="grid-container">
            <div class="element">
                <div class="content_box" style="background-color: #f76c6c" id="add-new">
                    <a href="/forum/new_post"><button>Tambah pos baru disini!</button></a>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>